---
import Landing from "../../components/homeComponent/Landing.astro";
import About from "../../components/homeComponent/About.astro";
import Service from "../../components/homeComponent/Service.astro";
import Portfolio from "../../components/homeComponent/Portfolio.astro";
import LetsMakeHappen from "../../components/homeComponent/LetsMakeHappen.astro";
import RecentBlogs from "../../components/homeComponent/RecentBlogs.astro";
import Footer from "../../components/Footer.astro";
---
<div class='flex flex-col items-center w-full relative z-0'>
    <div class="mx-40"><Landing/></div>
    <div class="mx-40"><About/></div>
    <div class="w-full h-screen"><Service/></div>
    <div class="w-full h-auto py-40 px-40"><Portfolio/></div>
    <div class="w-full h-auto px-40 pb-40"><LetsMakeHappen/></div>
    <div class="w-full h-screen px-40 bg-[#FFF8F2]"><RecentBlogs/></div>
    <div class="w-full h-auto"><Footer/></div>
</div>