---
import Header from "../../components/Header.astro";
import Landing from "../../components/HomeComp/Landing.astro";
---


<div class='flex flex-col items-center w-full relative'>
    <Landing/>
    <Landing/>

</div>