---
import Landing from "../../components/homeComponent/Landing.astro";
import About from "../../components/homeComponent/About.astro";
import Service from "../../components/homeComponent/Service.astro";
import Portfolio from "../../components/homeComponent/Portfolio.astro";
import LetsMakeHappen from "../../components/homeComponent/LetsMakeHappen.astro";
import RecentBlogs from "../../components/homeComponent/RecentBlogs.astro";
import Footer from "../../components/Footer.astro";

---

<div class='flex flex-col items-center w-full relative z-0'>
    <div class="mx-40 max-xl:mx-20 max-md:mx-10 max-sm:mx-4"><Landing/></div>
    <div class="mx-40 max-xl:mx-20 max-md:mx-10 max-sm:mx-4"><About/></div>
    <div class="w-full h-screen max-md:h-auto "><Service/></div>
    <div class="w-full h-auto py-40 max-sm:py-12 px-40 max-xl:px-20 max-md:px-10 max-sm:px-4"><Portfolio/></div>
    <div class="w-full h-auto px-40 pb-40 max-xl:px-20 max-md:px-10 max-sm:px-4 max-sm:pb-20"><LetsMakeHappen/></div>
    <div class="w-full h-screen px-40 bg-[#FFF8F2] max-xl:px-20 max-md:px-10 max-sm:px-4 flex items-center justify-center max-lg:h-auto max-lg:py-12"><RecentBlogs/></div>
</div>
