---
import { Image } from 'astro:assets';
import Logo from '../../src/assets/logo.png'
---

<div class="flex items-center justify-between w-full h-20">
    <Image src={Logo} alt ='logo' class='w-36 h-10'/>
    <ul class="flex items-center justify-between w-1/5">
        <li class="leading-none text-dark active:after:font-bold">
            <a href="/">
              Home
            </a>
        </li>
        <li class="leading-none text-dark">
            <a href="/">
              Blog
            </a>
        </li>
        <li class="leading-none text-dark">
            <a href="/">
              Docs
            </a>
        </li>
        <li class="leading-none text-dark">
            <a href="/">
              Contact
            </a>
        </li>
    </ul>
</div>